html {
  font-family: Verdana, sans-serif;
}

.user-menu {
  left: -95px;
  margin-top: 10px !important;
}

.login-form {
  padding: 15px;
  left: -176px;
  margin-top: 10px !important;
}

.user-register-form {
  padding: 15px;
  left: -150px;
  margin-top: 10px !important;
}

.login-error {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  float: right;
  font-size: 12px;
}

.messages {
  padding: 5px;
}
